body {
    margin: 0px;
    padding: 20px;
    padding-left: 150px;
    background-color: gray;
    max-width: 960px;
    background-image: url("../images/Abstract-Wallpapers-4.jpg");
}
html {
    position: relative;
}
a {
    text-decoration: none;
    color: white; 
}
.topnav {
    list-style-type: none;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 20px;
}
hr {
    margin: 5px;
    border-color: #ffffff;
}
h1 {
    display: inline;
    color:white;
}
h2 {
    color: #4aaaa5;
    padding: 0px;
    padding-right: 50px;
    text-align: center;
    font-size: 35px;
    font-style: oblique;
}
h3 {
    color: white;
    padding: 0px;
    padding-right: 50px;
    text-align: center;
    font-style: oblique; 
}
section {
    margin: 0px;
    opacity: 0.9;
}
.container {
    width: 100%;
    max-width: 620px;
    margin: 0 0 40px 0;
    clear: both;
}
.container2 {
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
}
img {
    float: left;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    padding-left: 15px;
}
.images { 
    display: table; 
    display: table-cell;
    position: absolute;
    margin: 0 auto;
    display: block;
}
p {
    line-height: 30px;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.781);
    padding-left: 15px;
}
.footer-main {
    background: #666666;
    color: #ffffff;
    padding: 20px 0px;
    height: auto;
    margin: auto;
    text-align: center;
    width: 100%;
}
.footerLinks {
    width: 100%;
    height: auto;
    margin: auto;
}
.footerLinks ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footerLinks ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: greenyellow;
}
.footerLinks ul li a {
    color: white;
    font-size: 25px;
}
.footerLinks ul li a i {
    line-height: 50px;    
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #4aaaa5;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
.column {
    flex: 75%;
    padding: 0 10px;
}
.column img {
    margin-top: 38px;
    padding-right: 25px;
    vertical-align: middle;
}
.social {
    widows: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
    flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
        body      {
        padding: 0;
        margin: 0;
    }
}

