body {
    margin: 0px;
    padding: 20px;
    padding-left: 150px;
    background-color: gray;
    max-width: 960px;
    background-image: url(assets/images/Abstract-Wallpapers-4.jpg);
}
html {
    position: relative;
}
a {
    text-decoration: none;
    color: white; 
}
.topnav {
    list-style-type: none;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 20px;
}
hr {
    margin: 5px;
    border-color: #ffffff;
}
h1 {
    display: inline;
    color:white;
}
h2 {
    color: #4aaaa5;
    padding: 0px;
    padding-right: 50px;
    text-align: center;
    font-size: 35px;
    font-style: oblique;
}
section {
    margin: 0px;
    opacity: 0.9;
}
.container {
    width: 100%;
    max-width: 620px;
    margin: 0 0 40px 0;
    clear: both;
}
.container2 {
    border-radius: 5px;
    background-color: gray;
    padding: 10px;

}
img {
    float: left;
    margin-right: 20px;
    height: 200px;
    width: 200px;
    padding-left: 15px;
}
.images { 
    display: table; 
    display: table-cell;
    position: absolute;
    margin: 0 auto;
    display: block;
}
p {
    line-height: 35px;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.781);
    padding-left: 15px;
}
footer {
    background: #666666;
    color: #ffffff;
    padding: 0px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #4aaaa5;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
.column {
    flex: 50%;
    padding: 0 4px;
}
.column img {
    margin-top: 38px;
    padding-right: 25px;
    vertical-align: middle;
}
.sidebar {
    padding: 30px;
    width: 100%;
    max-width: 270px;
    float: right;
    margin-bottom: 0px;
    margin-top: -600px;
}
.sidebar h2 {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    color: whitesmoke;
    font-size: 25px;
}
.social {
    widows: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

@media only screen and (max-width: 980px) {

}
@media only screen and (max-width: 760px) {

}
@media only screen and (max-width: 640px) {

}